@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./styles/header.css);
@import url(./styles/main.css);
@import url(./styles/footer.css);

* {
    font-family: "Roboto", serif;
    --base-color: #2D2DC2;
    --text-color: #1E1E1E;
    --light-blue: #EBEBFF;
    --dark-blue: #C4C4FF;
    --light-grey: #EBEBEB;
}

body {
    margin: 0;
}

.btn {
    background: none;
    border: none;
    font-size: 18px;
}

.btn:hover {
    color: grey;
}